# Primitive data-typen

Deze soort van de data-typen fungeren zoals key-value paren. 

Voorbeeld scenario: 

- a is gelijk aan 10: In het geheuge maakt Java een nieuwe disk-spatie voor a. Dan is de waarde 10 aangepast voor de variabel 'a'.

- b is gelijk aan 20 -> In het geheuge maakt Java een nieuwe disk-spatie voor b. Dan is de waarde 10 aangepast voor de variabel 'b'.

- c is gelijk aan de sum van a en b -> In het geheuge maakt Java een nieuwe disk-spatie voor c. 
                                     Dan is de sum van a en b samengevoegd en doorgegeven als de waarde van de variabel 'c'.

Primitive datatypen hebben altijd default waardes (values). Voer de volgende code-stuk om zich te observeren.

In [ ]:
int a = 10;
int b = 20;
int c = a + b;

System.out.println("The value of a is " + a);
System.out.println("The value of b is " + b);
System.out.println("The sum of a and b is " + c);

int d;

System.out.println("The default value of d is " + d);

Hieronder vind je alle primitieve datatypes met de min en max waarden. Na dit tabel gaan we verder om voorbeelden te geven van elk type. 

Zie hier de documentatie over [Primitieve datatypes](https://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html)

Datatype | voorbeeld min en max 
---|---
byte | -128 MAX 127
short | -32768 MAX 32767
int | -2^31 = -2147483648 MAX 2^31-1 = 2147483647
long | MIN -2^63 = -9223372036854775808 MAX 2^63-1 = 9223372036854775807
float | MIN -3.4E+38 = 1.4E-45 MAX 3.4E+38 = 3.4028235E38
double | MIN -1.7E+308 = 4.9E-324 MAX 1.7E+308 = 1.7976931348623157E308
boolean | false and true
char | MIN '\u0000' (or 0) of '\uffff' (of 65,535 inclusief)

## Byte

In [ ]:
byte a = 10;
byte b = -20;

System.out.println("De waarde van variabel a = " + a);
System.out.println("De waarde van variabel b = " + b);

byte c;

System.out.println("De default waarde van datatype byte = " + c);

## Short

In [ ]:
short a = 10;
short b = -20;

System.out.println("De waarde van variabel a = " + a);
System.out.println("De waarde van variabel b = " + b);

short c;

System.out.println("De default waarde van datatype short = " + c);

## Integer

In [ ]:
int a = 10;
int b = 20;
int c = a + b;

System.out.println("The value of a is " + a);
System.out.println("The value of b is " + b);
System.out.println("The sum of a and b is " + c);

int d;

System.out.println("The default value of d is " + d);

## Long

We moeten aangeven als we met het datatype long werken dit doen we door L achter het getal te zetten. Dit komt doordat de default datatype int is.

In [ ]:
long a = 10000000L;
long b = 20000000L;
long c = a + b;

System.out.println("The value of a is " + a);
System.out.println("The value of b is " + b);
System.out.println("The sum of a and b is " + c);

long d;

System.out.println("The default value of d is " + d);

## Float

Als je float wil gebruiken moet je achter het getal F of f plaatsten. Dit komt doordat voor een decimaal getal het default datatype double is.

In [ ]:
float a = 10000F;
float b = 20000F;
float c = a + b;

System.out.println("The value of a is " + a);
System.out.println("The value of b is " + b);
System.out.println("The sum of a and b is " + c);

float dF;

System.out.println("The default value of d is " + d);

## Double

In [ ]:
double a = 10000D;
double b = 20000D;
double c = a + b;

System.out.println("The value of a is " + a);
System.out.println("The value of b is " + b);
System.out.println("The sum of a and b is " + c);

float d;

System.out.println("The default value of d is " + d);

## boolean

In [ ]:
boolean aa = false;
boolean bb = true;
boolean cc;

System.out.println("The value of aa: " + aa);
System.out.println("The value of bb: " + bb);
System.out.println("The default value of a boolean is : " + cc);

boolean dd = (aa == cc);

System.out.println("Have aa and cc equal values: " +  dd);

## Char



Een char doen we ook anders aangeven. Bij een string gebruiken we de dubbel quotes maar bij een char gebruiken we de enkelen quotes. Zie hieronder voor een voorbeeld.  

De default van een char is een lege plek '\u0000' (or 0) daarom zien we niks als we dit uitprinten.

In [ ]:

char firstLetter = 'a';
char aChar;

System.out.println("The value of firstLetter is: " + firstLetter);
System.out.println("The default value of a char is : " + aChar);